<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.maxisma.allaboutsamsung"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.WithActionBar">

        <!-- Needed for Google Ads / GMS 17.1.2 -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d8f9e14466d9fd3a25fc2f77f76ed4dc43cb84cc" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${appMobAppId}" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".consent.ConsentActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <activity
            android:name=".post.PostActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${hostName}"
                    android:pathPrefix="/2" />
                <data
                    android:host="www.${hostName}"
                    android:pathPrefix="/2" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".gallery.GalleryActivity" />

        <activity
            android:name=".settings.PreferenceActivity"
            android:theme="@style/PreferencesTheme" />

        <activity android:name=".LegalNoticeActivity">
            <intent-filter>
                <action android:name="de.maxisma.allaboutsamsung.ViewLegalNotice" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".categories.CategoryActivity"
            android:label="@string/categories"
            android:theme="@style/AppTheme.Dialog" />

        <!--
        The following service can be safely exported, see
        https://firebase.google.com/docs/reference/android/com/google/firebase/iid/FirebaseInstanceIdService
        -->

        <service
            android:name=".notification.MessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".appwidget.PostsWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/posts_widget_info" />
        </receiver>

        <service
            android:name=".appwidget.PostsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name="com.evernote.android.job.gcm.PlatformGcmService"
            android:enabled="true"
            tools:replace="android:enabled" />
    </application>

</manifest>